{
    "token" : "ODEDFO12323JFOIJDFIDJF.JIEIEFJI2232323223232eoac",
     "channelID" : "914259442470641684",
    "webhookURL" : "https://discord.com/api/webhooks/9123232434343434/GTFFFFSEUqEEEEDn2wsBcslMOWbLe6wdZV84r8S_Tdienda_GCDKKcvREy2CNO0LVT7qlJTm"
}